// font
$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;

// size
$font-size: (lg : 2rem, md: 1.25rem, sm: .8rem);
$place-header-height: 3rem;
$place-tab-height: 2.9rem;
$m-padding : 1.1rem;

$header-height : $place-header-height + $place-tab-height;