.todo-list-area {
  width: 96%;
  margin: 0 auto;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .content > input[type='checkbox'] {
    transform: scale(1.5);
    margin-left: 10px;
  }

  .content > label {
    font-size: 16px;
    margin-left: 20px;
    padding-top: 4px;
    width: 100%;
  }

  .content > input[type='text'] {
    font-size: 16px;
    margin-left: 20px;
    padding-top: 4px;
    padding-left: 0;
    width: 100%;
  }

  .item_buttons {
    width: 118px;
  }

  .item_buttons > button {
    width: 42px;
    height: 42px;
    color: #555555;
    font-size: 14px;
    border-radius: 8px;
  }

  .item_buttons > button:first-child {
    background-color: #bad4f5;
    margin-right: 8px;
  }

  .todo_checkbox {
    appearance: auto !important;
  }

  .item input[type='text'] {
    display: none;
  }

  .edit_buttons {
    display: none;
  }
}
