body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  background-color: rgb(88, 200, 235);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.header-area {
  padding: 16px;
}
.header-area .title {
  color: rgb(133, 133, 133);
}

.add-todo-area {
  padding: 10px 16px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(88, 200, 235, 0.1);
  box-shadow: 0 2px 3px 0 rgba(88, 200, 235, 0.1);
}
.add-todo-area .todo-input {
  flex: 1;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #e7e7e7;
}
.add-todo-area .btn-add {
  position: relative;
  padding: 12px 24px;
  background-color: rgb(88, 200, 235);
  border-radius: 5px;
}
.add-todo-area .btn-add::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 19px;
  border-radius: 10px;
  background-color: #fff;
}
.add-todo-area .btn-add::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
}

.todo-list-area {
  width: 96%;
  margin: 0 auto;
}
.todo-list-area .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}
.todo-list-area .content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todo-list-area .content > input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 10px;
}
.todo-list-area .content > label {
  font-size: 16px;
  margin-left: 20px;
  padding-top: 4px;
  width: 100%;
}
.todo-list-area .content > input[type=text] {
  font-size: 16px;
  margin-left: 20px;
  padding-top: 4px;
  padding-left: 0;
  width: 100%;
}
.todo-list-area .item_buttons {
  width: 118px;
}
.todo-list-area .item_buttons > button {
  width: 42px;
  height: 42px;
  color: #555555;
  font-size: 14px;
  border-radius: 8px;
}
.todo-list-area .item_buttons > button:first-child {
  background-color: #bad4f5;
  margin-right: 8px;
}
.todo-list-area .todo_checkbox {
  appearance: auto !important;
}
.todo-list-area .item input[type=text] {
  display: none;
}
.todo-list-area .edit_buttons {
  display: none;
}

.container {
  min-height: 100vh;
}

.common-inner {
  width: 600px;
  height: 500px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}